* {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.tm-index {
    max-width: 1530px;
    height: 640px;
}

header {
    height: 100px;
    width: 100%;
}

.tm-back {
    background-image: url("images/Back.png");
    height: 100vh;
}

.tm-bullets p {
    top: 350px;
    float: right;
    position: relative;
    text-align: center;
    font-family: serif;
    right: 600px;
}

.tm-bullets ul li {
    top: 200px;
    left: 30px;
    text-decoration: none;
    list-style-type: square;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: teal;
    position: relative;
    font-size: 20px;
}


/* header h1 {
    font-size: 40px;
    position: fixed;
    text-align: center;
}

header p {
    font-size: 20px;
    text-align: center;
    position: relative;
} */


/* Responsive Code*/

@media screen and (max-width:1500px) {
    .tm-bullets p {
        position: relative;
        top: 200px;
        left: 0;
        padding-bottom: 10px;
        right: 0;
        top: 100px;
    }
}